{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 mt-5">
            <div class="card my-shadow">
                <div class="card-body">
                    <nav class="nav flex-column nav-pills">
                        <a class="nav-link {% block nav_link_general %}{% endblock %}" href="/checklists/{{ data.checklist.id }}">General</a>
                        <a class="nav-link {% block nav_link_labels %}{% endblock %}" href="/checklists/{{ data.checklist.id }}/labels">Labels</a>
                    </nav>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 col-lg-9 mt-5">
            {% block settings_content %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}

