<p>Create a copy of this list and its children.</p>


<form class="checklist-settings-clone-form">

    <fieldset>
        <!-- Title -->
        <div class="form-group">
            <label for="checklist-settings-clone-form-input-title">New checklist title</label>
            <input type="text" class="form-control form-control-sm" id="checklist-settings-clone-form-input-title" required>
        </div>

        <!-- Submit button -->
        <button type="button" class="btn btn-sm btn-standard">Clone list</button>
    </fieldset>


</form>