{# 
    
    data:
        - checklist
            - id         : Opt[UUID]    
            - title      : Opt[str]     
            - type       : Opt[str]     
            - createdOn  : Opt[datetime]
            - countItems : Opt[int]    
            
        - checklist_items:
            - id         : Opt[str]     
            - content    : Opt[str]     
            - createdOn  : Opt[datetime]
            - position   : Opt[int]     
            - isComplete : Opt[bool]    
#}

<p class="text-muted mt-3 mb-0">Create a copy of this list and its children.</p>

<form class="checklist-settings-clone-form">

    <fieldset>
        <!-- Title -->
        <div class="form-group mt-3 mb-0"">
            <label for="checklist-settings-clone-form-input-title">Title</label>
            <input type="text" class="form-control form-control-sm" id="checklist-settings-clone-form-input-title" required>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-sm btn-standard submit-clone-form mt-3 mb-0" disabled>Clone list</button>
    </fieldset>
</form>