{# 
    
    data:
        - checklist
            - id         : Opt[UUID]    
            - title      : Opt[str]     
            - type       : Opt[str]     
            - createdOn  : Opt[datetime]
            - countItems : Opt[int]    
            
        - checklist_items:
            - id         : Opt[str]     
            - content    : Opt[str]     
            - createdOn  : Opt[datetime]
            - position   : Opt[int]     
            - isComplete : Opt[bool]    
#}


{% macro list_type_radio(list_type, display, checked) -%}

    {% set html_id %}form-input-radio-{{ list_type }}{% endset %}

    <div class="custom-control custom-radio">
        <input type="radio" id="{{ html_id }}" name="form-input-radio" class="custom-control-input" {{ 'checked' if checked }} value="{{ display }}">
        <label class="custom-control-label" for="{{ html_id }}">{{ display }}</label>
    </div>

{%- endmacro %}


<p class="text-muted mt-3 mb-0">Update your checklist's basic information, including title and type.</p>

<form class="checklists-settings-general-form">
    <fieldset>
        <!-- Title -->
        <div class="form-group mt-3 mb-0">
            <label for="form-input-title">Title</label>
            <input type="text" class="form-control form-control-sm" id="form-input-title" value="{{ data.checklist.title if data.checklist.title }}" required>
        </div>
        
        <!-- List type -->
        <div class="form-group mt-3 mb-0">
            {{ list_type_radio('list', 'List', data.checklist.type == 'List') }}
            {{ list_type_radio('template', 'Template', data.checklist.type == 'Template') }}
        </div>


        <!-- Submit button -->
        <button type="submit" class="btn btn-sm btn-standard submit-form mt-3">Save changes</button>
    </fieldset>
</form>








