{% extends 'base.html' %}

{% block title %}Checklists{% endblock %}

{% block content %}


<!-- General -->
<div class="container checklist-settings-container mt-5">
    
    {{ section_header('General') }}
    
    <div class="section-content">
        {% include 'pages/checklist-settings/general.html' %}
    </div>
    
</div>


<!-- Clone -->
<div class="container checklist-settings-container mt-5">
    
    {{ section_header('Clone') }}

    <div class="section-content">
        {% include 'pages/checklist-settings/clone.html' %}
    </div>
    
</div>


<!-- Danger zone -->
<div class="container checklist-settings-container mt-5">
    {{ section_header('Danger Zone') }}

    <div class="section-content">
        {% include 'pages/checklist-settings/danger.html' %}
    </div>
    
</div>

{% endblock %}




{% block footer %}
<script src="/static/js/dist/checklist-settings.bundle.js"></script>
{% endblock %}  


{% macro section_header(title) -%}


<div class="section-header">
    <h2>{{ title }}</h2>
    <hr>
</div>

{%- endmacro %}