{% extends 'base.html' %}

{% block title %}Checklists{% endblock %}

{% block content %}


<!-- General -->
<div class="container mt-5">
    {{ section_header('General') }}
    {% include 'pages/checklist-settings/general.html' %}
</div>


<!-- Clone -->
<div class="container mt-5">
    {{ section_header('Clone') }}
    {% include 'pages/checklist-settings/clone.html' %}
</div>


<!-- Danger zone -->
<div class="container mt-5">
    {{ section_header('Danger Zone') }}
    {% include 'pages/checklist-settings/danger.html' %}
</div>

{% endblock %}


{% block footer %}
<script src="/static/js/dist/checklist-settings.bundle.js"></script>
{% endblock %}  


{% macro section_header(title) -%}

<h2>{{ title }}</h2>
<hr>

{%- endmacro %}