

<button class="btn btn-sm btn-stretch-sm btn-light d-md-none mt-3" type="button" data-toggle="collapse" data-target="#recurrences-board-action-buttons-collapse" id="recurrences-board-action-buttons-collapse-btn">Actions</button>

<div class="collapse pt-3" id="recurrences-board-action-buttons-collapse">
    
    <!-- recurrence board action buttons -->
    <div class="d-md-flex align-items-center" id="recurrences-board-action-buttons-container">
        <!-- Today -->
        <div class="mr-1">
            <button type="button" class="btn btn-sm btn-light d-none d-md-block" id="recurrences-board-action-buttons-btn-today">Today</button>
        </div>

        <!-- recurrence date -->
        <div class="mr-1">
            <!-- <input type="date" class="form-control form-control-sm" id="recurrences-board-action-buttons-input-date" value="{{ data.current_date }}"> -->
            <input type="text" class="form-control form-control-sm custom-datepicker" id="recurrences-board-action-buttons-input-date" value="{{ data.current_date }}">
        </div>

        <!-- jump to the previous or next week -->
        <div class="btn-group btn-group-sm btn-stretch-sm mt-2 mt-md-0 mr-md-1" role="group">
            <a href="?d={{ data.previous_week_date }}" class="btn btn-light" title="Previous week" id="recurrences-board-action-buttons-btn-previous">&larr;</a>
            <a href="?d={{ data.next_week_date }}" class="btn btn-light" title="Next week" id="recurrences-board-action-buttons-btn-next">&rarr;</a>
        </div>

        <!-- Create new event -->
        <div class="mt-2 mt-md-0">
            <button type="button" class="btn btn-sm btn-light btn-stretch-sm" id="recurrences-board-action-buttons-btn-new" title="Create new event">+</button>
        </div>
    </div>
</div>



