<!-- recurrence board action buttons -->
<div class="d-flex align-items-center" id="recurrences-board-action-buttons-container">
    <!-- Today -->
    <div class="mr-1">
        <button type="button" class="btn btn-sm btn-light" id="recurrences-board-action-buttons-btn-today">Today</button>
    </div>

    <!-- recurrence date -->
    <div class="mr-3">
        <input type="date" class="form-control form-control-sm" id="recurrences-board-action-buttons-input-date" value="{{ data.current_date }}">
    </div>

    <!-- Create new event -->
    <div class="mr-3">
        <button type="button" class="btn btn-sm btn-light" id="recurrences-board-action-buttons-btn-new">Create new event</button>
    </div>
</div>   