{# 
    
    Filter out the recurrences by labels form 

    Incoming data:
        - current_date
        - next_week_date
        - previous_week_date
        - labels
#}

<div class="modal" id="event-labels-filter-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form class="sidebar-container-labels-form">

                    
                    {% for label in data.labels %}
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="labels" value="{{ label.id }}">
    
                                <div class="d-flex">
                                    <div class="mr-2"><i class="bx bxs-circle" style="color: {{ label.color }};"></i></div>
                                    <div class="mr-2">{{ label.name }}</div>
                                </div>
                            </label>
                        </div>
                    {% endfor %}
              
        
        
                    <button type="submit" class="btn btn-sm btn-success mt-2">Filter labels</button>
                </form>

            </div>


        </div>
    </div>
</div>