

<!-- Modal -->
<div class="modal" id="event-label-assignments-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Event label assignments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="section-spinner">
                    {% include 'includes/spinner-center.html' %}
                </div>
                
                <div class="section-display">
                    <div class="section-labels-form">
                        <form id="event-label-assignment-form">
                            
                            {% for label in data.labels %}
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="labels" value="{{ label.id }}">
                                        
                                        <div class="d-flex">
                                            <div class="mr-2"><i class="bx bxs-circle" style="color: {{ label.color }};"></i></div>
                                            <div class="mr-2">{{ label.name }}</div>
                                        </div>
                                    </label>
                                </div>
                            {% endfor %}
                            
                            <button type="submit" class="btn btn-sm btn-success mt-3" disabled>Save labels</button>
                        </form>
                    </div>

                </div>

            </div>
      
        </div>
    </div>
</div>