<!-- 

    Incoming data (data):
        - current_date
 -->


{% extends 'base.html' %}

{% block title %}Tasks - home page{% endblock %}

{% block content %}
    
<div class="mt-5 container">
    <div class="d-flex align-items-baseline justify-content-between">
        <h1>Home page</h1>
        
        {% include 'components/recurrences-board/board-action-buttons.html' %}
    </div>
</div>

<!-- recurrences board -->
{% include 'components/recurrences-board/container.html' %}

<!-- event modal -->
{% include 'components/event-modal/container.html' %}


{% endblock %}


{% block footer %}
    <script src="/static/js/dist/home.bundle.js"></script>
{% endblock %}  