{# 
    
    index page for the application

    Incoming data:
        - current_date
        - next_week_date
        - previous_week_date
        - labels
#}


{% extends 'base.html' %}

{% block title %}Tasks - home page{% endblock %}

{% block content %}

{# Page header section #}
<div class="container border-bottom my-5 d-md-flex justify-content-between align-items-center">

    <div>
        <h1>Your tasks</h1>
    </div>

    {# Board action buttons #}
    {% include 'pages/home/board-action-buttons.html' %}
</div>

<div class="container mt-3">

    <div class="row">
        <div class="col-md-9">
            
            {# Spinner loading section #}
            <div id="recurrences-board-spinner">
                {% include 'includes/spinner-center.html' %}
            </div>
            
            {# Recurrences board #}
            <div id="recurrences-board-container-wrapper"></div>
        </div>
        
        {# Sidebar #}
        <div class="col-md-3">
            {% include 'pages/home/sidebar.html' %}
        </div>
    </div>
</div>

<!-- event modal -->
{% include 'components/event-modal/container.html' %}
{% include 'pages/home/event-label-assignments-modal.html' %}
{% include 'pages/home/recurrences-filter-modal.html' %}


{% endblock %}


{% block footer %}
    <script src="/static/js/dist/home.bundle.js"></script>
{% endblock %}  