{% extends 'base.html' %}

{% block title %}Your labels{% endblock %}

{% block content %}

<div class="container my-5">
    <h1>Labels</h1>
</div>


<div class="container my-5">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#labels-form-modal-edit">Edit</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#labels-form-modal-new">New</button>
</div>


{# existing labels section #}
<div id="labels-wrapper">

    <div id="labels-wrapper-spinner">
        {% include 'includes/spinner-center.html' %}
    </div>


    {# Labels go here #}
    <div id="labels-content"></div>
</div>


{# Form modals #}
{% include 'pages/labels/forms/edit-label-form.html' %}
{% include 'pages/labels/forms/new-label-form.html' %}

{% endblock %}


{% block footer %}
    <script src="/static/js/dist/labels.bundle.js"></script>
{% endblock %}