{#
This is the base template that should be used for all pages.

It has these blocks:

    - title
    - header
    - content
    - footer
#}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}Tasks{% endblock %}
    </title>

    {% include 'includes/header.html' %}
    {% block header %}{% endblock %}

</head>
<body>

    {% block navbar %}
        {% include 'includes/navbar.html' %}
    {% endblock %}

    

    <div id="alerts-page-top"></div>
    
    {% block content %}
    {% endblock %}

    <!-- add some space to bottom of page -->
    <div class="mb-5"></div>

    {% include 'includes/footer.html' %}
    
    {% block footer %}{% endblock %}
</body>
</html>