// primary
$custom-color-primary-darkest: hsl(206, 100%, 20%);
$custom-color-primary-darker: hsl(206, 100%, 40%);
$custom-color-primary: hsl(206, 100%, 60%);
$custom-color-primary-lighter: hsl(206, 100%, 78%);
$custom-color-primary-lightest: hsl(205, 100%, 95%); 

// gray
$custom-color-gray-darkest: hsl(204, 28%, 28%);
$custom-color-gray-darker: hsl(205, 28%, 58%);
$custom-color-gray: hsl(205, 28%, 88%);
$custom-color-gray-lighter: hsl(204, 28%, 93%);
$custom-color-gray-lightest: hsl(200, 27%, 98%);