
@import "colors";
@import "buttons";

input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select:focus,
textarea {
    font-size: 16px;
}


// card bg shadow
.my-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.no-focus-outline,
.close {
    &,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

// Stretch button
@media screen and (max-width: 768px) {
    .btn-stretch-sm {
        width: 100%;
    }
}

// Really fucking small button
.btn-xs {
    padding: .125rem .25rem;
    font-size: .75rem;
    line-height: 1.25;
}


.event-modal-form-section {
    margin-bottom: 40px;
}

// daily-recurrences-list-item

.daily-recurrences-list-item-name:hover {
    cursor: pointer;
}

.daily-recurrences-list-item {
    & {
        // margin: 10px 0px;
        padding: 10px 0px;
        border-top: 1px solid lightgray;
    }

    &.completed {
        .daily-recurrences-list-item-text-display {
            text-decoration: line-through;
            color: darkgray;
        }
    }
    
    // hide cancelled items
    &.cancelled {
        display: none;
    }
}


.card-daily-recurrences.current-date {
    border-left: 5px solid cornflowerblue;
    border-radius: 7px;
}


.auth-form {
    margin-top: 20px;
}

.card-sm {
    max-width: 500px;
}


#recurrences-board-container-wrapper.hide-completed {
    .daily-recurrences-list-item.completed {
        display: none;
    }
}


.card-daily-recurrences-new-btn-container {
    display: flex;
    margin-top: -20px;
    justify-content: center;
}

.card-daily-recurrences-new-event-btn {
    position: relative;
    top: 30px;   
}

// only hide the new button on screens that support hover events
@media (any-hover: hover) {
    .card-daily-recurrences-new-btn-container {
        display: none;
        margin-top: -30px;
    }

    .card-daily-recurrences:hover .card-daily-recurrences-new-btn-container  {
        display: flex;
    }
}


.form-group.form-group-custom {
    label {
        display: block;
    }

    .form-group-custom-label {
        margin-bottom: 0.5rem;
    }
}

.labels-form-modal {

    & {
        .labels-form-spinner {display: none;}
        .labels-form {display: block;}
    }

    &.loading {
        .labels-form-spinner {display: block;}
        .labels-form {display: none;}
    }
}



#event-label-assignments-modal {
    & {
        .section-spinner {display: none;}
        .section-display {display: block;}
    }

    &.loading {
        .section-spinner {display: block;}
        .section-display {display: none;}
    }
}


.account-settings-page-section {
    margin: 80px 0px;
}


.custom-datepicker,
.custom-timepicker {
    -webkit-appearance: none;
}


// checklists sidebar
.checklists-page-container {
    
    & {
        display: flex;
    }

    /* Sidebar styling */
    .checklists-sidebar {
        height: 100%;
        width: 0px;
        left: 0;
        position: fixed;
        top: 0;
        padding: 0px;
        display: block;
        transition: 0.2s;
        z-index: 110;
    }

    .checklists-sidebar.active {
        width: 100vw;
    }

    .checklists-sidebar-spacing {
        height: 99vh;
        overflow-y: auto;
    }

    .checklists-sidebar-header {
        display: block;
    }
}


$sidenav-lg-width: 500px;

@media screen and (min-width: 768px) {
    .checklists-page-container {
        .checklists-sidebar.active {
            width: 500px;
        }
    }
}



// checklists page overlay
.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 109;
    background-color: rgba(0,0,0,.3);
    animation: animation-drawer-fade-in .3s ease-in-out 1;
}


.checklists-main-page {
    width: 100%;
}

.open-checklists-wrapper {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    scroll-snap-type: x mandatory;
    align-items: flex-start;
    min-height: 400px;
}


.open-checklist-container {
    min-width: 100%;
    margin: 10px 10px;
    scroll-snap-align: center;
}

@media screen and (min-width: 768px) {
    .open-checklist-container {
        min-width: 400px;
        width: 400px;
        margin-left: 20px;
    }
}


// show/hide spinner
.open-checklist-body {
    & {
        .open-checklist-body-loading {display: none;}
        .open-checklist-body-container {display: block;}
    }

    &.loading {
        .open-checklist-body-loading {display: block;}
        .open-checklist-body-container {display: none;}

    }
}

// show/hide checklist item edit form
.checklist-item {
    & {
        .checklist-item-display {display: block;}
        .checklist-item-edit {display: none;}
    }

    &.edit {
        .checklist-item-display {display: none;}
        .checklist-item-edit {display: block;}
    }


    &.complete {
        .checklist-item-content-text {
            text-decoration: line-through;
            color: lightgray;
        }
    }
}


.checklist-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 10px 0px;
}



.checklist-settings-container  {
    margin-bottom: 75px;
}
