
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select:focus,
textarea {
    font-size: 16px;
}


// card bg shadow
.my-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

// Stretch button
@media screen and (max-width: 768px) {
    .btn-stretch-sm {
        width: 100%;
    }
}

// Really fucking small button
.btn-xs {
    padding: .125rem .25rem;
    font-size: .75rem;
    line-height: 1.25;
}


.daily-recurrences-list-item-name:hover {
    cursor: pointer;
}

.event-modal-form-section {
    margin-bottom: 40px;
}


.daily-recurrences-list-item.completed {

    .daily-recurrences-list-item-text-display{
        text-decoration: line-through;
        color: darkgray;
    }
}


.card-daily-recurrences.current-date {
    border-left: 5px solid cornflowerblue;
    border-radius: 7px;
}