{% extends 'base.html' %}

{% block title %}Checklists{% endblock %}

{% block content %}


<div class="checklists-page-container">
    <!-- sidebar -->
    {% include 'pages/checklists/sidebar.html' %}



    <div class="checklists-main-page">

        <div class="d-flex mb-5 mt-3 ml-5">
            <!-- open sidebar button -->
            <button class="btn btn-light btn-open-sidebar mr-1" type="button" title="Open the sidebar">Sidebar</button>

            <!-- Close all checklists button -->
            <a class="btn btn-light" title="Close all open checklists" href="/checklists">Close all</a>
        </div>


        <!-- Open Checklists Container -->
        {% include 'pages/checklists/open-checklists.html' %}
    </div>




</div>





{% endblock %}


{% block footer %}
<script src="/static/js/dist/checklists.bundle.js"></script>
{% endblock %}