{% extends 'base.html' %}

{% block title %}Checklists{% endblock %}

{% block content %}


<div class="checklists-page-container">
    <!-- sidebar -->
    {% include 'pages/checklists/sidebar.html' %}


    <!-- open sidebar button -->
    <button class="btn btn-primary btn-open-sidebar" type="button">Sidebar</button>


    <!-- Open Checklists Container -->
    {% include 'pages/checklists/open-checklists.html' %}

</div>





{% endblock %}


{% block footer %}
<script src="/static/js/dist/checklists.bundle.js"></script>
{% endblock %}  