<!-- Sidebar -->
<div class="checklists-sidebar card card-body">
    
    <div class="checklists-sidebar-spacing">
        <div class="d-flex align-items-baseline justify-content-between p-1 mb-3">
            <button class="btn btn-sm btn-light btn-new-checklist">New</button>

            <button type="button" class="btn close btn-close-checklist" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!-- Checklists -->
        <div class="list-group checklist-sidebar-items"></div>
    </div>

</div>