<!-- Sidebar -->
<div class="checklists-sidebar card card-body">
    <div class="checklists-sidebar-spacing">

        <div class="p-3">
            <div class="checklists-sidebar-header">
                <button class="btn btn-sm btn-light btn-new-checklist">New</button>

                <button type="button" class="btn close btn-close-checklist" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- New checklist form -->
            <div class="new-checklist-form-container d-none mt-3">
                <div class="card card-body">
                    <form class="new-checklist-form">

                        <!-- Title -->
                        <div class="form-group">
                            <label for="new-checklist-form-input-title">Title</label>
                            <input type="text" class="form-control form-control-sm new-checklist-form-input" name="title" id="new-checklist-form-input-title" required>
                        </div>

                        <button class="btn btn-sm btn-success btn-block save" type="submit" disabled>Create list</button>
                    </form>

                </div>
            </div>

            <hr>

            <!-- Checklists -->
            <div class="list-group list-group-flush checklist-sidebar-items"></div>

        </div>
    </div>

</div>