
{# 

    id         : Opt[UUID]     = None
    title      : Opt[str]      = None
    type       : Opt[str]      = None
    createdOn  : Opt[datetime] = None
    countItems : Opt[int]      = None
#}

{% macro get_checklists_sidebar(checklists) -%}

    {% for checklist in checklists %}
        <button type="button" class="list-group-item list-group-item-action" data-checklist-id="{{ checklist.id }}" title="{{ checklist.title }}">
            <div class="d-flex align-items-center justify-content-between">
                <div class="text-truncate">{{ checklist.title }}</div>
                <span class="badge badge-secondary badge-pill ml-3">{{ checklist.countItems }}</span>
            </div>
        </button>
    {% endfor %}
    
{%- endmacro %}