{############################################################################################################ 

This file contains jinja macros (functions) for generating the html for the recurrences board.

The macros are:
    - recurrences_board
    - recurrences_list_item

#############################################################################################################}






{#############################################################################################################

Create the html for the daily recurrences board 

data:
    - recurrence_date (date)
    
    - recurrences: dictionary['2022-01-01', recurrences]
        - event:
            - id              : UUID
            - name            : str
            - description     : str
            - phoneNumber     : str
            - location        : str
            - startsOn        : date
            - endsOn          : date
            - startsAt        : time
            - endsAt          : time
            - frequency       : EventFrequency
            - separation      : int
            - createdOn       : datetime
            - recurrenceDay   : int
            - recurrenceWeek  : int
            - recurrenceMonth : int
        - occurs_on : datetime 
        - completed : bool
        - cancelled : bool
        - labels 
            - id        : UUID
            - userId    : UUID
            - name      : str
            - color     : str
            - createdOn : datetime

#############################################################################################################}
{% macro recurrences_board(data) -%}

<div id="recurrences-board-container">
   
    {% for occurence_date, recurrences in data.recurrences.items() %}


        <div class="row mb-5 daily-recurrences-row">

            <div class="col-xl-2">
                {# Occurence date #}
                <div>
                    {# 01/01/22 #}
                    <span>{{ occurence_date|format_iso_date_str(DateFormatTokens.SLASHES) }}</span>
                    &sdot;
                    {# Mon #}
                    <span>{{ occurence_date|format_iso_date_str(DateFormatTokens.DAY_OF_THE_WEEK) }}</span> 
                </div>
            </div>

            <div class="col-xl-10">
                <div class="card card-daily-recurrences my-shadow {% if data.recurrence_date == occurence_date %}current-date{% endif %}" data-js-occurence-date="{{ occurence_date }}" >
        
                    <div class="card-body">
                        <div class="daily-recurrences-list">
                            {% for recurrence in recurrences %}
                               {{ recurrences_list_item(recurrence) }}
                            {% endfor %}
                        </div>

                        <div class="card-daily-recurrences-new-btn-container">
                            <button type="button" class="btn btn-sm btn-light card-daily-recurrences-new-event-btn" title="Create a new event">+</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        


    {% endfor %}


</div>

{%- endmacro %}



{#############################################################################################################
    
Create the html for a daily recurrences list item 


- labels 
    - id        : UUID
    - userId    : UUID
    - name      : str
    - color     : str
    - createdOn : datetime

#############################################################################################################}
{% macro recurrences_list_item(recurrence) -%}

<div class="daily-recurrences-list-item {% if recurrence.completed %}completed{% endif %} {% if recurrence.cancelled %}cancelled{% endif %}" data-js-event-id="{{ recurrence.event.id }}">
    <div class="d-flex align-items-center justify-content-between">

        <div class="d-flex align-items-center">
            {# Check box #}
            <div class="form-check">
                <input class="form-check-input position-static daily-recurrences-list-item-checkbox" type="checkbox" {% if recurrence.completed %}checked{% endif %}>
            </div>

            {# Event text #}
            <div class="daily-recurrences-list-item-text-display">

                {# Starts on #}
                <span class="daily-recurrences-list-item-starts-on">
                    {% if recurrence.event.starts_at %}
                        <span class="badge badge-light">{{ recurrence.event.starts_at|format_iso_date_str(DateFormatTokens.TIME) }}</span>
                    {% endif %} 
                </span>

                {# Name #}
                <span class="daily-recurrences-list-item-name">{{ recurrence.event.name }}</span>
            </div>

            <div class="d-flex ml-3 mt-1">

                {% for label in recurrence.labels %}
                    <div class="d-flex">
                        <div class="mr-2" title="{{ label.name }}"><i class="bx bxs-circle" style="color: {{ label.color }};"></i></div>
                    </div>
                {% endfor %}
        
            </div>

        </div>

        <div class="d-flex align-items-center">

            {# Dropdown menu #}
            <div class="dropleft daily-recurrences-list-item-dropdown">
                <button class="btn btn-xs font-weight-bold" type="button" data-toggle="dropdown">&#8943;</button>

                <div class="dropdown-menu">
                    <h6 class="dropdown-header">Labels</h6>
                    <button class="dropdown-item daily-recurrences-list-item-dropdown-btn" data-js-dropdown-action="3" type="button">Edit labels</button>
                    
                    <h6 class="dropdown-header">Delete</h6>
                    <button class="dropdown-item daily-recurrences-list-item-dropdown-btn" data-js-dropdown-action="1" type="button">This event</button>
                    <button class="dropdown-item daily-recurrences-list-item-dropdown-btn" data-js-dropdown-action="2" type="button">This and following events</button>
                </div>
            </div>

        </div>

    </div>


</div>

{%- endmacro %}