{# 

This file contains jinja macros (functions) for generating the html for the recurrences board.

The macros are:
    - recurrences_board
    - recurrences_list_item

#}



{# 

    Create the html for the daily recurrences board 

    data:
        - recurrence_date (date)
        
        - recurrences: dictionary['2022-01-01', recurrences]
            - event_id  : UUID     
            - name      : str      
            - occurs_on : datetime 
            - starts_at : time     
            - completed : bool
#}
{% macro recurrences_board(data) -%}

<div class="container my-5" id="recurrences-board-container">
   
    {% for occurence_date, recurrences in data.recurrences.items() %}
        
        <div class="card card-daily-recurrences mt-3 my-shadow {% if data.recurrence_date == occurence_date %}current-date{% endif %}" data-js-occurence-date="{{ occurence_date }}" >

            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    
                    {# Occurence date #}
                    <div>
                        {# Mon #}
                        <span>{{ occurence_date|format_date(date_format_tokens.DAY_OF_THE_WEEK) }}</span> 
                        
                        &sdot;
                        
                        {# 01/01/22 #}
                        <span>{{ occurence_date|format_date(date_format_tokens.SLASHES) }}</span>

                        &sdot;

                        {# Recurrences count #}
                        <span class="badge badge-secondary">{{ recurrences|length }}</span>
                    </div>
                    
                    <div class="d-flex align-items-baseline justify-content-end">
                        {# New event button #}
                        <button type="button" class="btn btn-xs btn-light card-daily-recurrences-new-event-btn" title="Create a new event">+</button>


                    </div>
                    
                </div>

            </div>

            <div class="card-body">
                <div class="daily-recurrences-list">
                    {% for recurrence in recurrences %}
                       {{ recurrences_list_item(recurrence) }}
                    {% endfor %}
                </div>
            </div>

        </div>

    {% endfor %}


</div>

{%- endmacro %}



{# Create the html for a daily recurrences list item #}
{% macro recurrences_list_item(recurrence) -%}

<div class="daily-recurrences-list-item {% if recurrence.completed %}completed{% endif %}" data-js-event-id="{{ recurrence.event_id }}">
    <div class="d-flex align-items-center">

        <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" {% if recurrence.completed %}checked{% endif %}>
        </div>

        <div class="daily-recurrences-list-item-text-display">
            <span class="daily-recurrences-list-item-starts-on">
                {% if recurrence.starts_at %}
                <span class="badge badge-light">{{ recurrence.starts_at|format_time_obj(date_format_tokens.TIME) }}</span>
                {% endif %} 
            </span>

            <span class="daily-recurrences-list-item-name">{{ recurrence.name }}</span>
        </div>


    </div>
</div>

{%- endmacro %}