{# 

    data:
        - recurrences
            - event_id  : UUID
            - name      : str
            - occurs_on : datetime
            - starts_at : time
            - completed : bool
    
#}






<div class="card card-recurrences-day" data-js-date="2022-05-01">
    <div class="card-header">
       Date
    </div>
    <div class="card-body">

        {% for recurrence in data.recurrences %}
            <div class="card-recurrences-day-item" data-js-event-id="{{ recurrence.event_id }}">
                <div class="d-flex">
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox">
                    </div>

                    <span>{{ recurrence.name }}</span>
                </div>
            </div>
        {% endfor %}

    </div>

</div>





