{#

data:
    - checklist
        - id : Opt[UUID]
        - title : Opt[str]
        - type : Opt[str]
        - createdOn : Opt[datetime]
        - countItems : Opt[int]
    
    - checklist_items:
        - id         : Opt[str]      
        - content    : Opt[str]      
        - createdOn  : Opt[datetime] 
        - position   : Opt[int]      
        - isComplete : Opt[bool]     

    - labels
        - id        : Opt[UUID]    
        - name      : Opt[str]     
        - color     : Opt[str]     
        - createdOn : Opt[datetime]
#}

{% macro get_checklist_label_html(label) %}
    <div class="form-check form-check-checklist-label" data-label-id="{{ label.id }}">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="labels" value="{{ label.id }}" {{ 'checked' if label.isAssigned}}>
            <div class="d-flex">
                <div class="mr-2"><i class="bx bxs-circle" style="color: {{ label.color }};"></i></div>
                <div class="mr-2">{{ label.name }}</div>
            </div>
        </label>
    </div>
{% endmacro %}



<div class="container">

    {# Checklist labels #}
    <button type="button" class="btn btn-sm btn-standard btn-block" data-toggle="collapse" data-target="#collapse-checklist-labels">Labels</button>

    <div class="collapse" id="collapse-checklist-labels">
        <div class="card card-body mt-2">
            <div class="checklist-labels-container container-loading">

                <div class="container-loading-spinner">
                    {% include 'includes/spinner-center.html' %}
                </div>
    
                <div class="container-loading-content">
                    <form id="checklist-labels-form">
                        
                        {% for label in data.labels %}
                            {{ get_checklist_label_html(label) }}
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>


    
</div>