

{% macro recurrences_list_item(recurrence) -%}

<div class="daily-recurrences-list-item {% if recurrence.completed %}completed{% endif %}" data-js-event-id="{{ recurrence.event_id }}">
    <div class="d-flex align-items-center">

        <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" {% if recurrence.completed %}checked{% endif %}>
        </div>

        <div class="daily-recurrences-list-item-text-display">
            <span class="daily-recurrences-list-item-starts-on">
                {% if recurrence.starts_at %}
                <span class="badge badge-secondary">{{ recurrence.starts_at|format_time_obj(date_format_tokens.TIME) }}</span>
                {% endif %} 
            </span>

            <span class="daily-recurrences-list-item-name">{{ recurrence.name }}</span>
        </div>


    </div>
</div>

{%- endmacro %}



<div class="container my-5" id="recurrences-board-container">

    {% for occurence_date, recurrences in data.recurrences.items() %}
        
        <div class="card card-daily-recurrences mt-3" data-js-occurence-date="{{ occurence_date }}">

            <div class="card-header">
                <span>
                    {{ occurence_date|format_date(date_format_tokens.DAY_OF_THE_WEEK) }}
                </span>

                &sdot;
                <span>
                    {{ occurence_date|format_date(date_format_tokens.SLASHES) }}
                </span>
               
            </div>

            <div class="card-body">
                <div class="daily-recurrences-list">
                    {% for recurrence in recurrences %}
                       {{ recurrences_list_item(recurrence) }}
                    {% endfor %}
                </div>
            </div>

        </div>

    {% endfor %}

</div>







