<!-- Event modal -->
<!-- <div class="modal" id="event-modal" tabindex="-1" data-js-event-id="shit hole" data-js-occurence-date="asshole"> -->
<div class="modal" id="event-modal" data-js-event-id="shit hole" data-js-occurence-date="asshole">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">
                <h5 class="modal-title">Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- modal body -->
            <div class="modal-body">

                <div id="event-modal-spinner" class="d-none">
                    {% include 'includes/spinner-center.html' %}
                </div>

                <!-- event form -->
                {% include 'components/event-modal/event-modal-form.html' %}
                
                <!-- delete event form -->
                {% include 'components/event-modal/event-deletion-form.html' %}
            </div>

        </div>
    </div>
</div>