<form id="event-modal-form">

    <div class="event-modal-form-section">
        <h4 class="event-modal-form-section-header">Basic info</h4>

        <!-- name -->
        <div class="form-group">
            <label for="event-modal-form-input-name">Name*</label>
            <input type="text" class="form-control event-modal-form-input" id="event-modal-form-input-name" maxlength="100" required>
        </div>

        <div class="form-row">

            <!-- phone -->
            <div class="form-group col-md-4">
                <label for="event-modal-form-input-phone">Phone number</label>
                <input type="text" class="form-control event-modal-form-input" id="event-modal-form-input-phone" maxlength="10">
            </div>

            <!-- location -->
            <div class="form-group col-md-8">
                <label for="event-modal-form-input-location">Location</label>
                <input type="text" class="form-control event-modal-form-input" id="event-modal-form-input-location" maxlength="250">
            </div>
        </div>
    </div>

    <div class="event-modal-form-section">

        <h4 class="event-modal-form-section-header">When</h4>

        <div class="form-row">
            <!-- starts on -->
            <div class="form-group col-md-6">
                <label for="event-modal-form-input-starts-on">Starts on*</label>
                <input type="date" class="form-control event-modal-form-input custom-datepicker" id="event-modal-form-input-starts-on" required>
            </div>

            <!-- starts at -->
            <div class="form-group col-md-6">
                <label for="event-modal-form-input-starts-at">Starts at</label>
                <input type="time" class="form-control event-modal-form-input" id="event-modal-form-input-starts-at">
            </div>
        </div>


        <div class="form-row">
            <!-- ends on -->
            <div class="form-group col-md-6">
                <label for="event-modal-form-input-ends-on">Ends on*</label>
                <input type="date" class="form-control event-modal-form-input custom-datepicker" id="event-modal-form-input-ends-on" required>
            </div>

            <!-- ends at -->
            <div class="form-group col-md-6">
                <label for="event-modal-form-input-ends-at">Ends at</label>
                <input type="time" class="form-control event-modal-form-input" id="event-modal-form-input-ends-at">
            </div>

        </div>

    </div>


    <div class="event-modal-form-section">
        <h4 class="event-modal-form-section-header">Repeats</h4>

        <div class="form-row">
            <!-- frequency -->
            <div class="form-group col-md-6">
                <label for="event-modal-form-input-frequency">Frequency*</label>
                <select class="form-control event-modal-form-input" id="event-modal-form-input-frequency" required>
                    <option value="ONCE">Once</option>
                    <option value="DAILY">Daily</option>
                    <option value="WEEKLY">Weekly</option>
                    <option value="MONTHLY">Monthly</option>
                    <option value="YEARLY">Yearly</option>
                </select>
            </div>

            <!-- separation -->
            <div class="form-group col-md-6">
                <label for="event-modal-form-input-separation">Separation*</label>
                <input type="number" class="form-control event-modal-form-input" id="event-modal-form-input-separation" min="1" required>
            </div>
        </div>

        <div class="form-row">
            <!-- recurrence day -->
            <div class="form-group col-md-4">
                <label for="event-modal-form-input-recurrence-day">Recurrence day</label>
                <input type="number" class="form-control event-modal-form-input" id="event-modal-form-input-recurrence-day">
            </div>

            <!-- recurrence week -->
            <div class="form-group col-md-4">
                <label for="event-modal-form-input-recurrence-week">Recurrence week</label>
                <input type="number" class="form-control event-modal-form-input" id="event-modal-form-input-recurrence-week">
            </div>

            <!-- recurrence month -->
            <div class="form-group col-md-4">
                <label for="event-modal-form-input-recurrence-month">Recurrence month</label>
                <input type="number" class="form-control event-modal-form-input" id="event-modal-form-input-recurrence-month">
            </div>
        </div>
    </div>

    <!-- save event modal form -->
    <button type="submit" class="btn btn-success" id="event-modal-form-submit-btn">Save changes</button>

    <!-- delete event -->
    <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#event-deletion-form-dropdown" id="event-deletion-form-dropdown-button">Delete</button>

</form>