{# This is the event deletion dropdown form. #}

<div class="collapse" id="event-deletion-form-dropdown">

    <div class="card card-body d-block mt-3">
        <form id="event-deletion-form">
            <!-- this event -->
            <div class="form-check">
                <input class="form-check-input" type="radio" id="event-deletion-form-radio-1" value="1" name="event-deletion-form-radio" checked>
                <label class="form-check-label" for="event-deletion-form-radio-1">This event</label>
            </div>

            <!-- This and following events -->
            <div class="form-check">
                <input class="form-check-input" type="radio" id="event-deletion-form-radio-2" value="2" name="event-deletion-form-radio">
                <label class="form-check-label" for="event-deletion-form-radio-2">This and following events</label>
            </div>

            <!-- All events -->
            <div class="form-check">
                <input class="form-check-input" type="radio" id="event-deletion-form-radio-3" value="3" name="event-deletion-form-radio">
                <label class="form-check-label" for="event-deletion-form-radio-3">All events</label>
            </div>

            <!-- submit button -->
            <button type="submit" class="btn btn-sm btn-outline-danger mt-3" id="event-deletion-form-submit">Confirm delete</button>
        </form>
    </div>
</div>